

  .box{
    width:200px;
    height:200px;
  }

  .cuadroB{
    background-color:rgb(0, 0, 0);
    width:200px;
    height:200px;
    float: left;
  }
  .cuadroW{
    background-color:rgb(255, 255, 255);
    width:200px;
    height:200px;
    float: left;
  }
  .cuadroB1{
    background-color:rgb(0, 0, 0);
    width:200px;
    height:200px;
    float: left;
  }
  .cuadroW1{
    background-color:rgb(255, 255, 255);
    width:200px;
    height:200px;
    float: left;
  }
  .cuadroB2{
    background-color:rgb(0, 0, 0);
    width:200px;
    height:200px;
    float: left;
  }
  .cuadroW2{
    background-color:rgb(255, 255, 255);
    width:200px;
    height:200px;
    float: left;
  }
  .cuadroB3{
    background-color:rgb(0, 0, 0);
    width:200px;
    height:200px;
    float: left;
  }
  .cuadroW3{
    background-color:rgb(255, 255, 255);
    width:200px;
    height:200px;
    float: left;
  }
  .cuadroB4{
    background-color:rgb(0, 0, 0);
    width:200px;
    height:200px;
    float: left;
  }
  .cuadroW4{
    background-color:rgb(255, 255, 255);
    width:200px;
    height:200px;
    float: left;
  }
  .cuadroB5{
    background-color:rgb(0, 0, 0);
    width:200px;
    height:200px;
    float: left;
  }
  .cuadroW5{
    background-color:rgb(255, 255, 255);
    width:200px;
    height:200px;
    float: left;
  }
  .cuadroB6{
    background-color:rgb(0, 0, 0);
    width:200px;
    height:200px;
    float: left;
  }
  .cuadroW6{
    background-color:rgb(255, 255, 255);
    width:200px;
    height:200px;
    float: left;
  }
  .cuadroB7{
    background-color:rgb(0, 0, 0);
    width:200px;
    height:200px;
    float: left;
  }
  .cuadroW7{
    background-color:rgb(255, 255, 255);
    width:200px;
    height:200px;
    float: left;
  }
  .cuadroB8{
    background-color:rgb(0, 0, 0);
    width:200px;
    height:200px;
    float: left;
  }
  .cuadroW8{
    background-color:rgb(255, 255, 255);
    width:200px;
    height:200px;
    float: left;
  }
  .cuadroB9{
    background-color:rgb(0, 0, 0);
    width:200px;
    height:200px;
    float: left;
  }
  .cuadroW9{
    background-color:rgb(255, 255, 255);
    width:200px;
    height:200px;
    float: left;
  }
  .cuadroB10{
    background-color:rgb(0, 0, 0);
    width:200px;
    height:200px;
    float: left;
  }
  .cuadroW10{
    background-color:rgb(255, 255, 255);
    width:200px;
    height:200px;
    float: left;
  }
  .cuadroB11{
    background-color:rgb(0, 0, 0);
    width:200px;
    height:200px;
    float: left;
  }
  .cuadroW11{
    background-color:rgb(255, 255, 255);
    width:200px;
    height:200px;
    float: left;
  }
  .cuadroB12{
    background-color:rgb(0, 0, 0);
    width:200px;
    height:200px;
    float: left;
  }
  .cuadroW12{
    background-color:rgb(255, 255, 255);
    width:200px;
    height:200px;
    float: left;
  }
  .cuadroB13{
    background-color:rgb(0, 0, 0);
    width:200px;
    height:200px;
    float: left;
  }
  .cuadroW13{
    background-color:rgb(255, 255, 255);
    width:200px;
    height:200px;
    float: left;
  }

